body{
	background-color: #000;
	font-family: Arial, sans-serif;
	color: #fff;
}

img {
  max-width: 100%;
  width: auto   9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

.logo{
	height:90px;
	margin-top: 0;
	padding-left: 50px;
}

.navBar{
	height: 108px;
	width: 100%;
	z-index: 9999;
	background-color: #000;
	border-bottom: 20px solid #0c9d5f;
}

.navbar-right{
	padding-top: 25px;
	font-size: 16px;
	padding-right: 8px;
	font-weight: bold;
}

.leftBorderNav{
	border-left: 2px solid #0c9d5f;
}

.navbar-collapse{
	float:right;
	background-color: #000;
}

.navbar-right li{
	padding: 0 10px;
}

.navBar a{
	color: #fff;
	text-decoration: none;
}

.nav>li>a:hover {
	background-color: #000;
	color:#0c9d5f;
	text-decoration: none;
}


/* Carousel base class */
.carousel {
  height: 500px;
  margin-top: 108px;
  margin-bottom: 18px;
  padding: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #000;
  overflow: hidden;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  max-width: none;
  border-bottom: 20px solid #0c9d5f;
}

.btn-primary{
	background-color:#0c9d5f;
	border: 1px solid #000;
}

.img-container{
	position: relative;
	top: 58px;
	max-height: 433px;
	width: 100%;
}

.headerImage{
	left: 0;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
	vertical-align: baseline;
	z-index: 1;
	overflow: hidden;
}

.logoImage{
	position: absolute; 
	height: 112px; 
	vertical-align: baseline;
	display: inline-block;
	z-index: 9998;
 	left: 10%;
  	transform: translate(-10%, -103%);
  	overflow: hidden;
}

.text-body{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.title{
	font-size: 32pt;
	font-weight: 400;
	margin-top: 34px;	
	padding-bottom: 32px;
}

.content{
	font-size: 16pt;
	line-height: 1.2;
	padding-bottom: 32px;
}

hr{
	width:80%;
	margin-left: 10%;
	margin-right:10%;
}

.projectImage{
	height:310px;
	margin-bottom: 45px;
}

footer{
	background-color: #0c9d5f;
	font-size: 10pt;
	min-height: 96px;
	width: 100%;
	margin-left: 0;
	padding-right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footText{
	font-size: 12pt;
	margin-left: 10%;
	line-height: 1.2;
}

.footText a{
	text-decoration: none;
	color:#fff;
}

.footText a:hover{
	color:#000;
	text-decoration: none;
}
footer .icons li{
	border-radius:1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 20px 10px;
	padding: 6px 5px;
	border: 1px inset #a6a6a6;
	text-align: center;
	float: right;
}

.icons{
	margin-right: 10%;
}

.twitter{
	color: #fff;
}

.fa{
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	font-stretch: normal;
	line-height: 1;
}

.fa-twitter:before{
	content: "\f099";
}

.facebook{
	color:#fff;
}

.fa-facebook:before {
	content:"\f09a";
}

.list{
    font-family: FontAwesome;
    font-size:23px;
    line-height:30px;
    margin-left:20px;
    margin-right:20px;
    color:#ffffff;
    list-style-type:none;
    
}

.list a{
    font-family: FontAwesome;
    font-size:23px;
    line-height:30px;
    margin-left:20px;
    margin-right:20px;
    color:#ffffff;
    list-style-type:none;
    
}


.list a:hover{
    font-family: FontAwesome;
    font-size:23px;
    line-height:30px;
    margin-left:20px;
    margin-right:20px;
    color:#0c9d5f;
    list-style-type:none;
    text-decoration: none;
    
}

.thankYou{
	font-family: FontAwesome;
	font-size:25px;
	margin-bottom:30px;
	
	
}


/*-----These control the image hover effect on the project page-----*/

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
 
ul.img-list li {
  display: inline-block;
  height: 125px;
  position: relative;
  width: 125px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 125px;
  left: 0;
  position: absolute;
  top: 0;
  width: 125px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}
 
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}
/*----END HOVER EFFECT SPECIFIC CLASSES-----*/

/*----Map page---*/
.companyInfo{
	float: left;
}

.info{
	display: inline-block;
	font-size: 14pt;
	line-height: 1.2;
	vertical-align: middle;
}

.companyInfo li i{
	border-radius:2.25rem;
	width: 3.5rem;
	height: 3.5rem;
	margin: 20px 10px;
	padding: 4px 6px;
	border: 1px solid #fff;
	text-align: center;
	background: #0c9d5f;
	vertical-align: middle;
}

.fa.fa-fax{
	padding-top: 9px;
}

.indent{
	width:90%;
	margin-left: 5%;
	margin-right: 5%;
}

#map-canvas{
	height: 400px;
	width: 400px;
	margin: 0; 
	padding: 0;
}

#emailSubmit{
	float:right;
	margin-bottom: 30px;
	background: #0c9d5f;
	width: 100px;
}

#emailSubmit:hover{
	background: #fff;
	color: #0c9d5f;
}
/*----responive fixes*-----*/

@media (max-width: 1200px) {
	.projectImage{
		height:210px;
	}
	.logo{
		height:75px;
	}
	.navBar{
		height: 92px;
		border-bottom: 16px solid #0c9d5f;
	}
	.navbar-right{
		padding-top: 18px;
		font-size: 15px;
		padding-right: 8px;
	}
	.carousel {
		margin-top: 92px;
	}
	.carousel, .carousel .item, .carousel .item{
		height: 400px;
	}
}

/* Medium devices */
@media (max-width: 992px) {
	.projectImage{
		height:310px;
	}
	.logo{
		height:60px;
	}
	.navBar{
		height: 77px;
		border-bottom: 12px solid #0c9d5f;
	}
	.navbar-right{
		padding-top: 10px;
		font-size: 14px;
		padding-right: 5px;
	}
	.navbar-right li{
		padding: 0 5px;
	}
	.carousel {
		margin-top: 76px;
	}
	.carousel, .carousel .item, .carousel .item{
		height: 400px;
	}
}

/* Small devices */
@media (max-width: 768px) {
	.logo{
		height:50px;
	}
	.navBar{
		height: 66px;
		border-bottom: 11px solid #0c9d5f;
	}
	.navbar-toggle{
		background-color:#0c9d5f; 
		margin-right: 15px;
		margin-top: 15px;
	}
	.icon-bar{
		background-color:#fff;
	}
	.navbar-right li{
		height:50px;
		width: 200px;
	}
	.nav>li>a:hover {
		background-color:#0c9d5f;
		color:#000;
	}
	.leftBorderNav{
		border:0;
	}
}

